{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "unused-imports",
    "html"
  ],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:tailwindcss/recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "*.css",
    "public/**/*",
    "node_modules/**/*",
    "tailwind.config.js"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": true
    }
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/consistent-type-imports": "error",
    "sort-imports": [
      "error",
      {
        "ignoreDeclarationSort": true,
        "allowSeparatedGroups": true
      }
    ],
    "import/first": "off",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          [
            "builtin",
            "external"
          ],
          "internal",
          [
            "parent",
            "object"
          ],
          [
            "sibling",
            "index"
          ],
          "type"
        ],
        "newlines-between": "always"
      }
    ],
    "@typescript-eslint/member-ordering": [
      "error"
    ]
  }
}