@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-menu {
        @apply m-1 h-10 rounded-lg bg-slate-500 px-2 py-1 text-white shadow-md hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-opacity-75;
    }

    .btn-option {
        @apply h-8 w-8 rounded-lg bg-slate-200 text-black shadow-md hover:bg-slate-300;
    }

    .btn-option-active {
        @apply ring-2 ring-slate-600;
    }

    .cursor-pencil {
        cursor: url(../public/pencil.png) 0 32, auto;
    }

    .cursor-fill {
        cursor: url(../public/fill.png) 1 28, auto;
    }

    .cursor-spray {
        cursor: url(../public/spray.png) 0 3, auto;
    }
}
